
{% extends "base.html" %}

{% block content %}
<div class="container">
  <p>Name: {{ company_data.companyName }}</p>
  <p>Symbol: {{ company_data.symbol }}</p>

  <form action="{{ url_for(".company_preview") }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="hidden" hidden>
      <!-- hidden details for the company -->
      {{ form.companyName.label }}{{ form.companyName(size=20) }}
      {{ form.symbol.label }}{{ form.symbol(size=20) }}
    </div>
    <!-- Show the select element for portfolios -->
    {{ form.portfolios.label }}{{ form.portfolios() }}
    <input type="submit" value="Add this company">
  </form>
</div>
{% endblock %}
